body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: 	#F9F6EE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page-content {
  padding-top: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  transition: padding 1000ms;
}

.page-content.page-content-extended {
  padding-left: 275px; /* Adjust padding to match your sidebar width */
  transition: padding 1000ms;
}
